title: "%image-url-tinify-compression%"
description: "%compress-images-using-tinify-api-to-reduce-file-size-while-maint%"
icon: ":carbon:image:"

inputs_def:
  - handle: image_url
    description: "%url-of-the-image-to-compress-accepts-any-valid-online-image-url%"
    json_schema:
      type: string
    nullable: false
  - handle: save_path
    description: "%optional-custom-save-path-for-the-compressed-image-file-if-not-s%"
    json_schema:
      type: string
      ui:widget: save
    value:
    nullable: true

outputs_def:
  - handle: compressed_url
    description: "%url-of-the-compressed-image-hosted-on-the-tinify-service-this-ur%"
    json_schema:
      type: string
  - handle: compressed_file
    description: "%absolute-local-file-path-where-the-compressed-image-has-been-sav%"
    json_schema:
      type: string

executor:
  name: nodejs
  options:
    entry: main.ts
    spawn: false
